http.port=9000
site.url=

# mongodb
db.host=127.0.0.1
db.port=27017
db.dbname=leanote
db.username=
db.password=

app.secret=

app.name=leanote
http.addr=
http.ssl=false
cookie.httponly=false
cookie.prefix=LEANOTE
cookie.domain=
cookie.secure=false
session.expires=3h
format.date=2006-01-02
format.datetime=2006-01-02 15:04:05
results.chunked=false

log.trace.prefix="TRACE "
log.info.prefix="INFO "
log.warn.prefix="WARN "
log.error.prefix="ERROR "

i18n.default_language=en-us

module.static=github.com/revel/modules/static

mode.dev=false
results.pretty=false
watch=false

module.testrunner=

log.trace.output=off
log.info.output=off
log.warn.output=stdout
log.error.output=stdout
